*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 45px;
    background-color: #242424;
}

#header{
    width: 960px;
    margin: 0 auto;
    background-color: #242424;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
}

.logo{
    padding-top: 10px;
}

.header_right{
    float: right;
}

.login_or_register{
    font-family: Aller_Rg;
    font-size: 11px;
    color: #7e7e7e;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
    padding: 20px 20px 12px 20px;
}

.search{
    padding-top: 16px;
    padding-right: 20px;
}

.menu{
    width: 100%;
    background-color: #fff;
}

#menu{
    width: 960px;
    height: 60px;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

#menu li{
    display:inline-block;
    padding: 22px 24px 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin-left: -5px;
    position: relative;
}

#menu a{
    text-decoration: none;
    font-family: Aller_Rg;
    font-size: 16px;
    color: #242424;
}

.menu_right{
    float:right;
}
.menu_left{
    float: left;
}

.star{
    position: absolute;
    top: 23px;
    left: 22px;
}

.cart{
    position: absolute;
    top: 25px;
    left: 22px;
}

.menu_right a{
    padding: 10px;
}

.circle{
    background: #adadad;
    padding: 3px 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
    font-family: Aller_Bold;
    font-size: 12px;
    color: #fff;
}


.menu_right li:hover .circle{
    background: #57c5a0;
}

.circle1{
    background: #adadad;
    padding: 3px 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
    font-family: Aller_Bold;
    font-size: 12px;
    color: #fff;
}

.menu_right li:hover .circle1{
    background: #57c5a0;
}

.top{
    width: 100%;
}

.photo{
    background: url("../img/image_bg.png");
    width: 100%;
    height: 460px;
}

#top{
    width: 980px;
    margin: 0 auto;
    position: relative;
    background: url("../img/image_bg.png") no-repeat;
    height: 460px;
}

.image{
    background: url("../img/img.png") no-repeat;
    width: 623px;
    height: 460px;
    position: absolute;
    left: -55px;
}

.item_details{
    height: 300px;
    width: 388px;
    position: relative;
    top: 70px;
    left: 533px;
}

.price{
    background: #57c5a0;
    padding: 26px 0px;
    font-family: Aller_Bold;
    font-size: 13px;
    color: #fff;
    width: 68px;
    text-align: center;
}

.desc span{
    font-family: Aller-Light;
    font-size: 40px;
    padding-top: 5px;
}

.desc{
    font-size: 20px;
    font-family: Aller-Light;
    padding-top: 10px;
}

.action_menu li{
    display: inline-block;
    background: #f9f9f8;
    cursor: pointer;
}

.view1{
    padding: 15px 13px;
}
.view{
    background: url(../img/view.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 16px;
    height: 10px;
}

.view1:hover .view{
    background: url("../img/view_active.png") no-repeat;
}

.action_menu ul{
    padding-top: 15px;
}

.wishlist1{
    padding: 12px 13px;
}

.wishlist{
    background: url(../img/wishlist.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.wishlist1:hover .wishlist{
    background: url("../img/wishlist_active.png") no-repeat;
}

.share1{
    padding: 13.5px 13px;
}

.share{
    background: url(../img/share.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 16px;
    height: 13px;
}

.share1:hover .share{
    background: url("../img/share_active.png") no-repeat;
}

.buy1{
    padding: 12.5px 13px;
}

.buy{
    background: url(../img/buy.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 16px;
    height: 15px;
}

.buy1:hover .buy{
    background: url("../img/buy_active.png") no-repeat;
}

.navigation{
    width: 100%;
    background: #2e2e2e;
}

#navigation{
    width: 980px;
    background: #2e2e2e;
    margin: 0 auto;
}

.pos{
    background: #000;
    height: 10px;
    width: 970px;
}

.pos li{
    display: inline-block;
    border-right: 2px solid #2e2e2e;
    width: 180px;
    height: 6px;
    margin-bottom: 6px;
    margin-left: 7px;
}

.shoes{
    width: 980px;
}

.shoes li{
    display: inline-block;
    text-align: center;
    padding: 14px 45px 23px 50px;
}

.shoes a{
    font-family: Aller-Rg;
    font-size: 12px;
    text-decoration: none;
    color: #828282;
}

.shoes span{
    font-family: Aller_Rg;
    font-size: 18px;
}

.specials{
    width: 100%;
    background: #242424;
}

#specials{
    width: 980px;
    height: 230px;
    background: #242424;
    margin: 0 auto;
}

.on_sale{
    background: url("../img/on_sale.png") no-repeat;
    width: 301px;
    height: 183px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.specials_shoes{
    padding: 25px 10px 25px 10px;
}

.text_{
    position: absolute;
    top: 62px;
    left:64px;
    background: rgba(36,36,36,0.9);
    color: #fff;
    font-family: Aller-Light;
    font-size: 25px;
    width: 180px;
    text-align: center;
    padding: 15px 0;
}

.special_offers{
    background: url("../img/special_offers.png") no-repeat;
    width: 301px;
    height: 183px;
    float: left;
    margin-right: 20px;
    position: relative;
}

.must_have{
    background: url("../img/must_have.png") no-repeat;
    width: 301px;
    height: 183px;
    float: left;
    position: relative;
}

.text_1{
    position: absolute;
    top: 62px;
    left:36px;
    background: rgba(36,36,36,0.9);
    color: #fff;
    font-family: Aller-Light;
    font-size: 25px;
    width: 230px;
    text-align: center;
    padding: 15px 0;
}

.text_2{
    position: absolute;
    top: 62px;
    left:64px;
    background: rgba(36,36,36,0.9);
    color: #fff;
    font-family: Aller-Light;
    font-size: 25px;
    width: 180px;
    text-align: center;
    padding: 15px 0;
}



/* для відображення товарів*/
.shop-window{
    width: 100%;
    background: #ebe7df;
}

#shop-window{
    width: 980px;
    background: #ebe7df;
    margin: 0 auto;
}

.new_arrivals, .best_seller{
    font-family: Aller-Light;
    font-size: 25px;
    color: #242424;
    padding: 0 15px 0 10px;
    height: 330px;
    padding-top: 30px;
}

.new_arrivals input, .best_seller input{
    font-family: Aller_Bold;
    font-size: 14px;
    color: #bcb5a7;
    padding: 5px 21px;
    background: #ebe7df;
    border: 1px solid #bcb5a7;
    outline: none;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.price_for_item1, .price_for_item2, .price_for_item3, .price_for_item4, .price_for_item5, .price_for_item6{
    position: absolute;
    top: 202px;
    left: 13px;
    background: #57c5a0;
    padding: 26px 0px;
    font-family: Aller_Bold;
    font-size: 13px;
    color: #fff;
    width: 68px;
    text-align: center;
}
.img_for_item1{
    background: url(../img/img_for_item1.png) no-repeat;
    width: 300px;
    height: 220px;
}
.item1, .item2, .item3, .item4, .item5, .item6{
    position: relative;
    float: left;
    margin-right: 22px;
}

.desc_for_item1, .desc_for_item2, .desc_for_item3, .desc_for_item4, .desc_for_item5, .desc_for_item6{
    background: #fff;
    font-family: Aller_Rg;
    font-size: 18px;
    width: 300px;
    border-top: 1px solid #cccccc;
    padding: 13px 0;
    text-align: center;
}

.items{
    padding-top: 30px;
    width: 970px;
}

.img_for_item2{
    background: url(../img/img_for_item2.png) no-repeat;
    width: 300px;
    height: 220px;
}

.on_sale_for_item2{
    position: absolute;
    top: -1px;
    right: 15px;
    padding: 26px 0;
    background: #242424;
    width: 68px;
    font-size: 13px;
    font-family: Aller_Bold;
    color: #fff;
    text-align: center;
}

.img_for_item3{
    background: url(../img/img_for_item3.png) no-repeat;
    width: 300px;
    height: 220px;
}

.out_for_item6{
    position: absolute;
    top: -1px;
    right: 15px;
    padding: 19px 0;
    background: #f27e4b;
    width: 68px;
    font-size: 13px;
    font-family: Aller_Bold;
    color: #fff;
    text-align: center;
}

.img_for_item4{
    background: url(../img/img_for_item4.png) no-repeat;
    width: 300px;
    height: 220px;
}

.img_for_item5{
    background: url(../img/img_for_item5.png) no-repeat;
    width: 300px;
    height: 220px;
}

.img_for_item6{
    background: url(../img/img_for_item6.png) no-repeat;
    width: 300px;
    height: 220px;
}

.best_seller{
    padding-bottom: 45px;
}

.addon{
    border-top: 1px solid #bcb5a7;
    margin-left: 10px;
    margin-right: 26px;
    height: 235px;
}

.free_shipping, .testimonials{
    background: #dfdbd4;
    color: #242424;
    font-family: Aller_Rg;
    font-size: 12px;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    padding: 29px 15px;
}

.testimonials{
    width: 190px;
    margin: 25px 20px 15px 0px;
}

.free_shipping{
    width: 190px;
    margin: 25px 20px 15px 0px;
}

p{
    font-size: 14px;
    font-family: Aller_Bold;
    margin-bottom: 15px;
}

.italic{
    font-family: Aller-Italic;
    padding: 15px 15px;
}

.apr{
    width: 36px;
    font-family: Aller_Bold;
    background: #57c5a0;
    padding: 7px 0;
    text-align: center;
    font-size: 10px;
    color: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

.nice{
    font-size: 14px;
    font-family: Aller_Bold;
}

.blog_news{
    background: #dfdbd4;
    color: #242424;
    font-family: Aller_Rg;
    font-size: 13px;
    float: left;
    margin-top: 25px;
    padding: 29px 15px;
    width: 434px;
    position: relative;
    height: 118px;
}

.apr2{
    position: absolute;
    width: 36px;
    font-family: Aller_Bold;
    background: #57c5a0;
    padding: 7px 0;
    text-align: center;
    font-size: 10px;
    color: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    top: 111px;
    left: 15px;
}

.news2{
    position: absolute;
    top: 112px;
    left: 61px;
}

.pre_footer{
    width: 100%;
    background: #242424;
    position: relative;
}

#pre_footer{
    width: 970px;
    background: #242424;
    padding: 50px 0px 30px 10px;
    margin: 0 auto;
    border-bottom: 1px solid #1c1c1c;
}

#pre_footer li{
    font-family: Aller-Italic;
    font-size: 12px;
    color: #a4a4a4;
    margin-left: 40px;
    display: inline-block;
    width: 255px;
    text-align: justify;
    vertical-align: top;
}

.day{
    color: #c4c5bf;
    display: block;
    word-break: break-all;
    padding: 5px;
}

.link{
    color: #57c5a0;
}

.border{
    border-bottom: 1px solid #1c1c1c;
    position: absolute;
    top: 235px;
    width: 100%;
}

.pre_footer1{
    width: 970px;
    background: #242424;
    padding: 50px 0px 45px 10px;
    margin: 0 auto;
    position: relative;
}

.pre_footer1 input{
    width: 216px;
    height: 38px;
    background: #2e2e2e;
    font-family: Aller-Italic;
    font-size: 12px;
    color: #7d7d7d;
    border: none;
    outline: none;
    padding-left: 14px;
    margin-left: 40px;
}

.pre_footer1 button{
    width: 36px;
    height: 38px;
    background: #7d7d7d;
    border: none;
    outline: none;
    position: absolute;
    top: 50px;
    left: 260px;
}

.socials{
    position: absolute;
    top: 52px;
    right: 83px;
}

.socials li{
    display: inline-block;
    margin-right: 5px;
}

.facebook{
    background: url(../img/facebook.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.twitter{
     background: url(../img/twitter.png) no-repeat;
     -webkit-transition: all 0.1s ease-out 0.01s;
     -moz-transition: all 0.1s ease-out 0.01s;
     -o-transition: all 0.1s ease-out 0.01s;
     transition: all 0.1s ease-out 0.01s;
     cursor: pointer;
     width: 36px;
     height: 36px;
}

.google{
    background: url(../img/google.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.linkedin{
    background: url(../img/linkedin.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.flickr{
    background: url(../img/flickr_mini.png) no-repeat;
    -webkit-transition: all 0.1s ease-out 0.01s;
    -moz-transition: all 0.1s ease-out 0.01s;
    -o-transition: all 0.1s ease-out 0.01s;
    transition: all 0.1s ease-out 0.01s;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.facebook:hover{
    background: url("../img/facebook_active.png") no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.twitter:hover{
    background: url("../img/twitter_active.png") no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.google:hover{
    background: url("../img/google_active.png") no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.linkedin:hover{
    background: url("../img/linkedin_active.png") no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.flickr:hover{
    background: url("../img/flickr_mini_active.png") no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.group2{
    width: 100%;
    background: #2e2e2e;
}

#group2{
    width: 970px;
    margin: 0 auto;
    background: #2e2e2e;
    padding: 25px 0 25px 10px;
    font-family: Aller_Rg;
    font-size: 12px;
    color: #979797;
}

#group2 span{
    float: right;
    margin-right: 24px;
}